[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-yarn-completions"]
	path = zsh/zsh-yarn-completions
	url = git@github.com:chrisands/zsh-yarn-completions.git
[submodule "zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
