[submodule "zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "zsh-yarn-completions"]
	path = zsh/zsh-yarn-completions
	url = https://github.com/chrisands/zsh-yarn-completions
[submodule "zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "emacs/combobulate"]
	path = emacs/combobulate
	url = https://github.com/mickeynp/combobulate
[submodule "zsh-z"]
	path = zsh/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "fast-syntax-highlighting"]
	path = zsh/fast-syntax-highlighting
	url = https://github.com/zdharma-continuum/fast-syntax-highlighting.git
