[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "fzf"]
	path = vim/.vim/bundle/fzf
	url = git@github.com:junegunn/fzf.git
	branch = master
[submodule "fzf.vim"]
	path = vim/.vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
	branch = master
[submodule "vim-sneak"]
	path = vim/.vim/bundle/vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
	branch = master
[submodule "vim-surround"]
	path = vim/.vim/bundle/vim-surround
	url = git@github.com:tpope/vim-surround.git
	branch = master
[submodule "vim-pathogen"]
	path = vim/.vim/vim-pathogen
	url = git@github.com:tpope/vim-pathogen.git
	branch = master
[submodule "vimtex"]
	path = vim/.vim/bundle/vimtex
	url = git@github.com:lervag/vimtex.git
	branch = master
[submodule "vim-commentary"]
	path = vim/.vim/bundle/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
	branch = master
[submodule "minimal"]
	path = zsh/minimal
	url = git@github.com:subnixr/minimal.git
	branch = master
[submodule "vim-over"]
	path = vim/.vim/bundle/vim-over
	url = git@github.com:osyo-manga/vim-over.git
	branch = master
[submodule "pandoc-templates"]
	path = pandoc/pandoc-templates
	url = git@github.com:kjhealy/pandoc-templates.git
	branch = master
[submodule "vim-solidity"]
	path = vim/.vim/bundle/vim-solidity
	url = git@github.com:TovarishFin/vim-solidity.git
	branch = master
[submodule "vim/.vim/nvim-lspconfig"]
	path = vim/.vim/bundle.nvim/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig
	branch = master
[submodule "cmp-nvim-lsp"]
	path = vim/.vim/bundle.nvim/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
	branch = main
[submodule "nvim-cmp"]
	path = vim/.vim/bundle.nvim/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
	branch = main
[submodule "friendly-snippets"]
	path = vim/.vim/bundle.nvim/friendly-snippets
	url = git@github.com:rafamadriz/friendly-snippets.git
	branch = main
[submodule "LuaSnip"]
	path = vim/.vim/bundle.nvim/LuaSnip
	url = git@github.com:L3MON4D3/LuaSnip.git
	branch = master
[submodule "cmp-path"]
	path = vim/.vim/bundle.nvim/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
	branch = main
[submodule "cmp_luasnip"]
	path = vim/.vim/bundle.nvim/cmp_luasnip
	url = git@github.com:saadparwaiz1/cmp_luasnip.git
	branch = master
[submodule "cmp-buffer"]
	path = vim/.vim/bundle.nvim/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
	branch = main
[submodule "copilot.vim"]
	path = vim/.vim/bundle.nvim/copilot.vim
	url = git@github.com:github/copilot.vim.git
	branch = release
[submodule "plenary.nvim"]
	path = vim/.vim/bundle.nvim/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
	branch = master
[submodule "lean.nvim"]
	path = vim/.vim/bundle.nvim/lean.nvim
	url = git@github.com:Julian/lean.nvim.git
	branch = main
[submodule "vim-textobj-user"]
	path = vim/.vim/bundle/vim-textobj-user
	url = git@github.com:kana/vim-textobj-user.git
	branch = master
[submodule "nvim-hs.vim"]
	path = vim/.vim/bundle.nvim/nvim-hs.vim
	url = git@github.com:neovimhaskell/nvim-hs.vim.git
	branch = develop
[submodule "cornelis"]
	path = vim/.vim/bundle.nvim/cornelis
	url = git@github.com:isovector/cornelis.git
	branch = master
[submodule "indent-blankline.nvim"]
	path = vim/.vim/bundle.nvim/indent-blankline.nvim
	url = git@github.com:lukas-reineke/indent-blankline.nvim.git
[submodule "nvim-treesitter"]
	path = vim/.vim/bundle.nvim/nvim-treesitter
	url = git@github.com:nvim-treesitter/nvim-treesitter.git
[submodule "lspsaga.nvim"]
	path = vim/.vim/bundle.nvim/lspsaga.nvim
	url = git@github.com:nvimdev/lspsaga.nvim.git
[submodule "nvim-web-devicons"]
	path = vim/.vim/bundle.nvim/nvim-web-devicons
	url = git@github.com:nvim-tree/nvim-web-devicons.git
[submodule "tokyonight.nvim"]
	path = vim/.vim/bundle.nvim/tokyonight.nvim
	url = git@github.com:folke/tokyonight.nvim.git
[submodule "nvim-colorizer.lua"]
	path = vim/.vim/bundle.nvim/nvim-colorizer.lua
	url = git@github.com:norcalli/nvim-colorizer.lua.git
[submodule "trouble.nvim"]
	path = vim/.vim/bundle.nvim/trouble.nvim
	url = git@github.com:folke/trouble.nvim.git
